body,
html {
	height: 100%;
}
#root {
	height: 100%;
}
.App {
	height: 100%;
}
.text {
	color: aliceblue;
	font-style: inherit;
}
@media only screen and (max-width: 600px) {
	.time {
		display: none;
	}
}
